
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8" name="view-port" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>

    <link rel="stylesheet" href="{% static 'style.css' %} " />
    <link rel="stylesheet" href="{% static 'modal_sms.css' %} " />
    <link rel="stylesheet" href="{% static 'modal_error.css' %} " />
    <link rel="stylesheet" href="{% static 'dropdown.css' %} " />
    {% include 'inc/_dropdown_script.html' %}

</head>
<body>
<div class="toggle" onclick="toggleMenu()"></div>

<section class="banner" id="home">
    <div class="imgSidebar">
        <img src="{{ intro.0.my_photo.url }}">
    </div>
    <div class="contentBx">
        <div>
        <h5 class="logoText">{% block logo %}{% endblock %}</h5>
            </div>
        <div>
            <h4>{% block hello %}{% endblock %}</h4>
            <h2>{{ intro.0.intro_name }}</h2>
            <h4>{{ intro.0.intro }}</h4>
            <p> {{ intro.0.presentation|linebreaks }} {% block otherlinks %} {% endblock %}</p>

                <br><br>
            <a href="#about" class="btn">{% block aboutmebtn %}{% endblock %}</a>

        </div>

        <ul class="sci">
            {% if intro.0.linked_in_link  %}
        <li><a href="{{ intro.0.linked_in_link }}"><img src="{% static 'images/linkedin-square.png' %}"  width="50px;"></a></li>
        {% endif  %}

            {% if intro.0.github_link  %}
            <li><a href="{{ intro.0.github_link }}"><img  src="{% static 'images/github.png' %}" width="50px;"></a></li>
        {% endif  %}
{% if intro.0.insta_link  %}
            <li><a href="{{ intro.0.insta_link }}"><img src="{% static 'images/black-instagram.png' %}"  width="50px;"></a></li>
        {% endif  %}
             {% if telegram_status  %}

            <li><a href="#" onclick="return openModal();" ><img  src="{% static 'images/telegram-black.png' %}" width="50px;"></a></li>
        {% endif  %}

    </ul>

    </div>




</section>
{% if aboutme %}
<section class="about" id="about">

    <div class="title white">
        <h2>{% block about %}{% endblock %}</h2>
        <p>
            {{ aboutme.0.aboutmetitle }}
        </p>
    </div>
    <div class="content">
        <div class="textBx1">
            <p>

            {{ aboutme.0.description }}
            </p>
        </div>
        <div class="imgBx">
            <img  src="{{ aboutme.0.my_photo.url }}">

        </div>

    </div>
</section>
{% endif %}
{% if services %}
<section class="services" id="services">

    <div class="title">

        <h2>{% block services %}{% endblock %}</h2>
        <p>
            {% block services_intro %}{% endblock %}
        </p>
    </div>
    <div class="content">
        {% for service in services %}
        <div class="servicesBx">
            <img src="{{ service.photo.url }}">
            <h2>{{ service.title }}</h2>
                   <p>
            {{ service.description }}
        </p>
        </div>
        {% endfor %}

    </div>


</section>
{% endif %}
{% if works %}
<section class="work" id="work">
 <div class="title">
        <h2>{% block works %}{% endblock %}</h2>
        <p>
            {% block worksintro %}{% endblock %}
        </p>
    </div>
    <div class="content">
{% for work in works %}
<div class="workBx">
    <div class="imgBx">

        {% if work.work_photo %}
        <img src="{{ work.work_photo.url }}">
        {% else %}
        <img  src="{% static 'images/code.jpg' %}" width="50px;">
        {% endif %}

    </div>
    <div class="textBx">
        <div>
        {% if work.work_link %}
        <a href="{{ work.work_link }}" >

            <h3>{{ work.work_title }}</h3>

        </a>
            {% else %}
        <h3>{{ work.work_title }}</h3>
            {% endif %}
        </div>
        <div class="work_description">
        {% if work.work_description %}
        <p>{{ work.work_description }}</p>
        {% endif %}
        </div>
    </div>
</div>
{% endfor %}

    </div>

</section>
{% endif %}
<section class="contact" id="contact">

 <div class="title white">
        <h2>{% block contact %}{% endblock %}</h2>
        <p>
            {% block contactintro %}{% endblock %}
        </p>
    </div>
    <div class="contactForm">
        {% block form %}{% endblock %}

                                        {% csrf_token %}
        <div class="row">
            <div class="col50">
                {{ email_form.first_name }}
                {{ email_form.first_name.errors }}
                {% comment %}
                <input type="text" name="" placeholder="First Name">
                {% endcomment %}
            </div>
             <div class="col50">
                 {{ email_form.last_name }}
                 {{ email_form.last_name.errors }}
                 {% comment %}
                <input type="text" name="" placeholder="Last Name">
                 {% endcomment %}
            </div>
        </div>
        <div class="row">
             <div class="col50">
                  {{ email_form.mail }}
                 {{ email_form.mail.errors }}

                 {% comment %}
                <input type="text" name="" placeholder="Email">
                 {% endcomment %}
            </div>
             <div class="col50">
                  {{ email_form.mobile_number }}
                 {{ email_form.mobile_number.errors }}
                 {% comment %}
                <input type="text" name="" placeholder="Mobile Number">
                 {% endcomment %}
            </div>
        </div>

                <div class="row">
            <div class="col100">
                {{ email_form.message_text }}
                 {{ email_form.message_text.errors }}

                {% comment %}
                <textarea placeholder="Message">

                </textarea>
                {% endcomment %}
            </div>
        </div>
        <div class="row">
            <div class="col100">
                <input type="submit" value="{% block sendbtn %}{% endblock%}" name="send_mail">
            </div>
        </div>
        </form>

        </div>

</section>
<div class="copyright">
    <p>
        Copyright 2021 online Tutorials. All Right Reserved.
    </p>
</div>

<div class="sidebar">
{% block sidebarmenu %}

{% endblock%}
</div>

{% block modal %}

{% endblock %}
{% include 'inc/_modal_sms_script.html' %}
{% if sms_errors %}
{% include 'inc/_modal_errors_script.html' %}
{% endif %}

<script>
    function toggleMenu(){
    const menuToggle = document.querySelector('.toggle');
    const sidebar = document.querySelector('.sidebar');
    menuToggle.classList.toggle('active');
    sidebar.classList.toggle('active');
    }
</script>

</body>
</html>