<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="view-port" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="{% static 'cvstyle.css' %} " />

    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/all.css' %} ">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/brands.css' %} ">





</head>
<body>
<div class="container">
    <div class="left_Side">
        <div class="profileText">
            <div class="imgBx">
                 <img src="{% static 'images/cv.JPG'%}">

            </div>
            <h2>Evgeny USACHEV<br><span>Web Developer</span></h2>

        </div>
        <div class="contactInfo">
            <h3 class="title">Contact Info</h3>
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-envelope"></i></span>
                    <span class="text">evgeny.rfi@gmail.com</span>
                </li>

                <li>
                    <span class="icon"><i class="fa fa-globe"></i></span>
                    <span class="text">https://evgeny.usachev.fr</span>
                </li>

                <li>
                    <span class="icon"><i class="fa fa-address-card"></i></span>
                    <a href="https://www.linkedin.com/in/evgeny-usachev-ba071a196"><span class="text">www.linkedin.com</span></a>
                </li>



                <li>
                    <span class="icon"><i class="fa-regular fa-map"></i></span>
                    <span class="text">Nice, France</span>
                </li>

            </ul>
        </div>

        <div class="contactInfo education">
            <h3 class="title">Education</h3>
            <ul>
                <li>
                    <h5>2004-2007</h5>
                    <h4>Master Degree in ...</h4>
                    <h4>Univerity</h4>
                </li>
                <li>
                    <h5>2004-2007</h5>
                    <h4>Master Degree in ...</h4>
                    <h4>Univerity</h4>
                </li>

                <li>
                    <h5>2004-2007</h5>
                    <h4>Master Degree in ...</h4>
                    <h4>Univerity</h4>
                </li>

            </ul>
        </div>

        <div class="contactInfo language">
            <h3 class="title">Languages</h3>
            <ul>
                <li>
                    <span class="text">French</span>
                    <div class="percent">
                         <div style="width: 95%;"></div>
                     </div>
                </li>
                <li>
                    <span class="text">English</span>
                    <div class="percent">
                         <div style="width: 90%;"></div>
                     </div>
                </li>
                <li>
                    <span class="text">Italian</span>

                    <div class="percent">
                         <div style="width: 85%;"></div>

                     </div>
                </li>
                <li>
                    <span class="text">Russian</span>
                    <div class="percent">
                         <div style="width: 100%;"></div>
                     </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="right_Side">

        <div class="about">
            <h2 class="title2">Profile</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis arcu a lacus pharetra dapibus. Sed egestas eget purus quis tristique. Aenean aliquet nisl nec facilisis tincidunt. Mauris mattis massa convallis semper rutrum. Proin efficitur porta massa, id ultricies ex varius a.
            </p>
        </div>
        <div class="about">
            <h2 class="title2">Experience</h2>
            <div class="box">
                <div class="year_company">
                    <h5>2012-2020</h5>
                    <h5>Company Name</h5>
                </div>
                <div class="text">
                    <h4>
                        Senior Ux Designer
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis arcu a lacus pharetra dapibus. Sed egestas eget purus quis tristique. Aenean aliquet nisl nec facilisis tincidunt. Mauris mattis massa convallis semper rutrum. Proin efficitur porta massa, id ultricies ex varius a.

                    </p>
                </div>


            </div>

            <div class="box">
                <div class="year_company">
                    <h5>2012-2020</h5>
                    <h5>Company Name</h5>
                </div>
                <div class="text">
                    <h4>
                        Senior Ux Designer
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis arcu a lacus pharetra dapibus. Sed egestas eget purus quis tristique. Aenean aliquet nisl nec facilisis tincidunt. Mauris mattis massa convallis semper rutrum. Proin efficitur porta massa, id ultricies ex varius a.

                    </p>
                </div>


            </div>

            <div class="box">
                <div class="year_company">
                    <h5>2012-2020</h5>
                    <h5>Company Name</h5>
                </div>
                <div class="text">
                    <h4>
                        Senior Ux Designer
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis arcu a lacus pharetra dapibus. Sed egestas eget purus quis tristique. Aenean aliquet nisl nec facilisis tincidunt. Mauris mattis massa convallis semper rutrum. Proin efficitur porta massa, id ultricies ex varius a.

                    </p>
                </div>


            </div>
        </div>
        <div class="about skills">
            <h2 class="title2">Professional Skills</h2>
            <div class="box">
                <h4>Django</h4>
                <div class="percent">
                    <div style="width:90%"></div>
                </div>
                <h4>Html</h4>
                <div class="percent">
                    <div style="width:95%"></div>

                </div>
                <h4>Css</h4>
                <div class="percent">
                <div style="width:75%"></div>
                </div>
                <h4>Java script</h4>
                <div class="percent">
                <div style="width:55%"></div>
                </div>
                <h4>Python</h4>
                <div class="percent">
                    <div style="width:85%"></div>
                </div>
                <h4>Bash</h4>
                <div class="percent">
                    <div style="width:95%"></div>
                </div>

                <h4>Linux</h4>
                <div class="percent">
                    <div style="width:75%"></div>
                </div>
                <h4>Git</h4>
                <div class="percent">
                    <div style="width:85%"></div>
                </div>
               <h4>Docker</h4>
                <div class="percent">
                    <div style="width:85%"></div>
                </div>
            </div>
        </div>

        <div class="about interest">
             <h2 class="title2">Interest</h2>
            <ul>
                <li><i class="fa fa-running"></i> Sports</li>
                <li><i class="fa fa-microchip"></i> DIY</li>
                <li><i class="fa fa-terminal"></i> Programming</li>
                <li><i class="fa fa-camera"></i> Photography</li>
            </ul>

        </div>





    </div>

</div>
</body>
</html>