
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8" name="view-port" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>

    <link rel="stylesheet" href="{% static 'style.css' %} " />

</head>
<body>
<div class="toggle" onclick="toggleMenu()"></div>

<section class="about" id="about">

    <div class="title white">
        <h2>Email</h2>
        {% if email_status == 'success' %}
        <p>
            Email, successfully sent to our team, we will contact you shortly!
        </p>
        {% else %}
           <p>
            Failed to send email, please contact us on evgeny@usachev.fr
        </p>
        {% endif %}
    </div>
    <div class="content">
        <div class="textBx1">
            <p>

            </p>
        </div>
        <div class="imgBx">
            <img src="{% static 'images/email.png' %}"  width="50px;">

        </div>

    </div>
</section>


<div class="sidebar">

<ul class="menu">
    <li><a href="{% url 'index' %}" onclick="toggleMenu();">Home</a></li>

</ul>

</div>
<script>
    function toggleMenu(){
    const menuToggle = document.querySelector('.toggle');
    const sidebar = document.querySelector('.sidebar');
    menuToggle.classList.toggle('active');
    sidebar.classList.toggle('active');
    }
</script>

</body>
</html>